.new-expense {
    width: fit-content;
}

.new-expense__controls {
    display: block;
    text-align: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: left;
  }
  
  .new-expense__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
    margin-bottom: 15px;
  }
  
  .new-expense__actions {
    text-align: right;
  }
  
  .new-actions {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .new-actions button {
    width: 100%;
    margin-bottom: 10px;
  }

  .new-actions button.red {
    background-color: rgba(255, 0, 0, 0.733);
    border: 1px solid rgba(255, 0, 0, 0.733);
  }